S3method("$",scidb)
S3method(dim,scidb)
S3method(dimnames,scidb)
S3method(names,scidb)
S3method(print,afl)
S3method(str,afl)
S3method(str,scidb)
export("%as%")
export(aflhelp)
export(as.R)
export(as.scidb)
export(getpwd)
export(iquery)
export(schema)
export(scidb)
export(scidb_prefix)
export(scidbconnect)
export(store)
exportMethods("%as%")
exportMethods(help)
exportMethods(ls)
exportMethods(print)
exportMethods(show)
import(bit64)
importFrom(curl,curl_fetch_memory)
importFrom(curl,form_file)
importFrom(curl,handle_setform)
importFrom(curl,handle_setheaders)
importFrom(curl,handle_setopt)
importFrom(curl,new_handle)
importFrom(data.table,data.table)
importFrom(digest,digest)
importFrom(methods,new)
importFrom(methods,show)
importFrom(openssl,base64_encode)
importFrom(stats,runif)
importFrom(utils,capture.output)
importFrom(utils,data)
importFrom(utils,head)
importFrom(utils,read.table)
importFrom(utils,str)
importFrom(utils,tail)
importFrom(utils,write.table)
useDynLib(scidb, .registration = TRUE, .fixes = "C_")
