useDynLib(scidb)
export('df2scidb')
export('between')
export('as.scidb')
export('scidblist')
export('scidbls')
export('scidbconnect')
export('scidbremove')
export('scidbrm')
export('iquery')
export('scidb')
importFrom("utils", "head", "tail")
importFrom("stats", "aggregate")

# S4 methods
exportClasses("scidb","scidbdf")
exportMethods("%*%",print,is.scidb,diag,show,head,tail,sum,count,image,crossprod,tcrossprod,is.scidbdf,aggregate)

# S3 methods
S3method('Ops',scidb)
S3method('[',scidb)
#S3method('[<-',scidb)
S3method('names',scidb)
S3method('rownames',scidb)
S3method('colnames',scidb)
S3method('dimnames',scidb)
S3method('dimnames<-',scidb)
S3method('str',scidb)
#S3method('head',scidb)
#S3method('tail',scidb)
S3method('ncol',scidb)
S3method('nrow',scidb)
S3method('dim',scidb)
S3method('length',scidb)
S3method('t',scidb)

S3method('[',scidbdf)
S3method('names',scidbdf)
S3method('rownames',scidbdf)
S3method('colnames',scidbdf)
S3method('dimnames',scidbdf)
S3method('str',scidbdf)
S3method('ncol',scidbdf)
S3method('nrow',scidbdf)
S3method('dim',scidbdf)
S3method('length',scidbdf)
